.main {
  display: flex;
  flex-direction: column;
}

.products {
  width: 100%;
  background-color: rgba(250, 244, 235, 0.908);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 15px;
}
